html,
body {
  font-family: "Indie Flower", cursive !important;
  overflow-x: hidden;
}

h1 {
  font-size: 72px !important;
}

.custom-nav,
.custom-footer {
  padding: 15px !important;
  font-size: 32px;
}

.custom-nav {
  box-shadow: 5px 5px 5px rgba(76, 82, 103, 0.2);
  background-color: #89cff0 !important;
}

.custom-footer {
  box-shadow: 5px 5px -5px rgba(76, 82, 103, 0.2);
}

.navbar-brand {
  color: black !important;
  font-size: calc(1vw + 20px) !important;
}

.home-container {
  min-height: calc(100vh - 80px);
}

.btn {
  padding: 10px 20px !important;
  color: black !important;
  font-size: 24px !important;
}

.btn:hover {
  box-shadow: 0px 0px 10px rgba(76, 82, 103, 0.2);
}

.btn-primary {
  background-color: #89cff0 !important;
  border-color: #89cff0 !important;
}

.btn-primary:hover {
  background-color: #a5daf3 !important;
  border-color: #a5daf3 !important;
}

.carousel,
.img-bordered {
  border: 10px solid white;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(76, 82, 103, 0.2);
}

.accordion-button,
.accordion-item {
  font-size: 24px !important;
}

.accordion-button:not(.collapsed) {
  color: #2fafff !important;
}

.home-mission-header {
  margin-bottom: 10px;
  font-size: calc(4vw + 15px);
  font-weight: bold;
}

.learn-more-header {
  font-size: calc(4vw + 15px);
}

.learn-more-text {
  font-size: calc(1vw + 15px);
}

.home-mission-text {
  margin-bottom: 10px;
}

.contact-container-dark {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #89cff0;
}

.contact-method-container {
  font-size: 6px;
}

@media (min-width: 1100px) {
  .contact-method-container {
    font-size: 10px;
  }
}

.contact-graphic {
  font-size: calc(4vw + 10px);
}

.contact-text {
  font-size: calc(2vw + 10px);
  margin-left: 1em;
  margin-right: 1em;
  width: 5em;
}

.contact-text a {
  color: black;
}

.footer-nav {
  background-color: #ffffff !important;
  padding: 20px;
  font-size: 32px;
}

.accordion-button:focus {
  background-color: #c2e1f0 !important;
}

.accordion-body a {
  color: #61bfea !important;
}

.donation-accordion {
  border-collapse: srgb(182, 218, 235);
  border-radius: 10px;
  overflow: hidden;
}
